<html>
	<head>
		<title>Vineyard Of God</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="/home">VINEYARD OF GOD MINISTRIES <br />CASTELLON, SPAIN</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/home">Home</a></li>
					<li><a href="/donate">Donate</a></li>
					<li><a href="/events">Events</a></li>
					<li><a href="/contact">Contact Us</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1 id="vineyardtvlivestream">CONTACT US</h1>
				</div>
			</section>
			<video id="fullscreen" autoplay loop muted  playsinline>
				<source src="./images/Drone valencia city.mp4" type="video/mp4" />
			</video>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2><b>Fill the details</b></h2>
						<form action="/contact" method="POST">
							<input type="text" class="input-vineyard" name="username" placeholder="Name">
							<input type="text" name="surname" placeholder="Surname">
							<input type="text" name="address" placeholder="Address">
							<input type="text" name="message" placeholder="Message">
						<button type="submit">Send</button>
					</form>
					<h3><%= success %></h3>
					</header>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2><b>ADDRESS</b></h2>
					<h1><b>Calle Vazquez Mella 45, 12006</b></h1>
					<hr />
					<h2><b>PHONE NUMBER</b></h2>
					<h1><b>+34-631035007</b></h1>
					<hr />
				</div>
			</section>

		<!-- Testimonials -->
		

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section id="Init-Vineyard">
							<h2><b>VINEYARD OF GOD MINISTRIES</b></h2>
							<h4>Glorious Center</h4>
							<h2>Castellon, Spain</h3>
							<img src="./images/logo transparent.png" id="logo-vineyard">
						</section>
						<section>
							<h4>LIVE ON OUR PLATFORMS</h4>
							<ul class="alt">
								<li><a href="#">Youtube Live</a></li>
								<li><a href="#">Facebook Live</a><b></li>
							</ul>
						</section>
						<section>
							<h4><b>Our Socials</b></h4>
							<ul class="plain">
								<li><a href="https://twitter.com/gloriaemuan"><b class="icon fa-twitter">&nbsp;</b>Twitter</a></li>
								<li><a href="https://facebook.com/pastgloriaemuan"><b class="icon fa-facebook">&nbsp;</b>Facebook</a></li>
								<li><a href="https://www.youtube.com/channel/UCmW4DuiW8ogML02oWJJwrog"><b class="icon fa-youtube">&nbsp;</b>Youtube</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						Vineyard Of God Ministries
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>