<html>
	<head>
		<title>Vineyard Of God Ministries</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="/home">VINEYARD OF GOD MINISTRIES</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/home">Home</a></li>
					<li><a href="/donate">Donate</a></li>
					<li><a href="/events">Events</a></li>
					<li><a href="/contact">Contact Us</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1 id="vineyardtvlivestream">EVENTS</h1>
				</div>
			</section>
			<video id="fullscreen" autoplay loop muted  playsinline>
				<source src="./images/banner.mp4" type="video/mp4" />
			</video>
		<!-- Highlights -->

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
                    <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-0/p180x540/106416722_3433441750007927_8436376596981351908_o.jpg?_nc_cat=111&_nc_sid=110474&_nc_ohc=V2TFeGQNXZIAX_nxdNl&_nc_ht=scontent-cdg2-1.xx&_nc_tp=6&oh=cf5048a7f520b9a9819862e453c71cff&oe=5F33B8DA"/>
                    <br />
                    <br />
                    <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/105485455_3410786998940069_2072498926705046829_n.jpg?_nc_cat=104&_nc_sid=6e5ad9&_nc_ohc=3nna9hZWH1cAX_paRBh&_nc_ht=scontent-cdg2-1.xx&oh=17f279bb8d3ca9239ca089ac91743fc9&oe=5F343FD0"/>
                    <br />
                    <br />
                    <img id="frame" src="./images/2020 higher height.png"/>
				</div>
			</section>

		<!-- Testimonials -->

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section id="Init-Vineyard">
							<h2><b>VINEYARD OF GOD MINISTRIES</b></h2>
							<h4>Glorious Center</h4>
							<h2>Castellon, Spain</h3>
							<img src="./images/logo transparent.png" id="logo-vineyard">
						</section>
						<section>
							<h4>LIVE ON OUR PLATFORMS</h4>
							<ul class="alt">
								<li><a href="#">Youtube Live</a></li>
								<li><a href="#">Facebook Live</a><b></li>
							</ul>
						</section>
						<section>
							<h4><b>Our Socials</b></h4>
							<ul class="plain">
								<li><a href="https://twitter.com/gloriaemuan"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="https://facebook.com/pastgloriaemuan"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="https://www.youtube.com/channel/UCmW4DuiW8ogML02oWJJwrog"><i class="icon fa-youtube">&nbsp;</i>Youtube</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						Vineyard Of God Ministries
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>