<html>
	<head>
		<title>Vineyard Of God Ministries</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="/home">VINEYARD OF GOD MINISTRIES <br /> CASTELLON, SPAIN.</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/home">Home</a></li>
					<li><a href="/donate">Donate</a></li>
					<li><a href="/events">Events</a></li>
					<li><a href="/contact">Contact Us</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1 id="vineyardtvlivestream">VINEYARD TV LIVESTREAM</h1>
					<iframe id="mainbody-article-video" src="https://www.youtube.com/embed/5B8MI3VZkco" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<video autoplay loop muted playsinline src="images/banner.mp4"></video>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>VISIT ON OUR PLATFORMS</h2>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a><img id="icon"src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-512.png"/></a>
									<h3>Watch Us Live on Facebook</h3>
								</header>
								<p>Like the Page of Pastor Gloria Emuan and Follow us Live </p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a><img id="icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/YouTube_icon.png/640px-YouTube_icon.png"/></a>
									<h3>Watch Us Live On Youtube</h3>
								</header>
								<p>Subscribe so You can watch all of our services online in youtube and you can comment and chat with everyone</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a><img id="icon"src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Group_font_awesome.svg/512px-Group_font_awesome.svg.png"/></a>
									<h3>Follow Our Partnership Groups</h3>
								</header>
								<p>To Partner with Pastor Gloria Emuan visit facebook and Join One of the 4 groups which are: Mentorship With Pastor Gloria, Impart With Pastor Gloria emuan 1, 2, 3</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2><b>THE MANDATE</b></h2>
					<p><b>In November 29th By 5:40am, In 2010. GOD Said To Her,I Have Found You GO AND HEAL THE DEAD PART OF A MAN. Since GOD Have Been Glorifying His Name By Healing Men As She Teaches The WORD Of GOD</b></p>
				</div>
			</section>

		<!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Activities</h2>
						<p>Sunday, Glorious Service 11:00am<br />
							Tuesday Service, Appointment With Grace 7:30pm<br />
							Friday Service, Pray To Receive 7:30pm<br />
							Every  First Friday Catch The Fire Night 8pm<br />
							Every First Sunday Is Thanksgiving Service<br />
							Every Third Sunday Is Patnership Service<br />
							Every Last Sunday Communion Service</p>
					</header>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section id="Init-Vineyard">
							<h2><b>VINEYARD OF GOD MINISTRIES</b></h2>
							<h4>Glorious Center</h4>
							<h2>Castellon, Spain</h3>
							<img src="./images/logo transparent.png" id="logo-vineyard">
						</section>
						<section>
							<h4>LIVE ON OUR PLATFORMS</h4>
							<ul class="alt">
								<li><a href="#">Youtube Live</a></li>
								<li><a href="#">Facebook Live</a><b></li>
							</ul>
						</section>
						<section>
							<h4><b>Our Socials</b></h4>
							<ul class="plain">
								<li><a href="https://twitter.com/gloriaemuan"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="https://facebook.com/pastgloriaemuan"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="https://www.youtube.com/channel/UCmW4DuiW8ogML02oWJJwrog"><i class="icon fa-youtube">&nbsp;</i>Youtube</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						Vineyard Of God Ministries
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>